Labs/Lab02/nodes/.flows.json.backup
[{"id":"229f8fb.dfc257","type":"tab","label":"Blink led","disabled":false,"info":""},{"id":"e8df738f.e4e21","type":"tab","label":"Test blink led","disabled":false,"info":""},{"id":"52c8cac.4abb434","type":"tab","label":"Sensor messages","disabled":false,"info":""},{"id":"4f2a6e06.c4d9f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"35ee131a.17aa8c","type":"Generic BLE","z":"","localName":"BlueNRG","address":"02:80:e1:00:34:02","uuid":"0280e1003402","muteNotifyEvents":false,"operationTimeout":"","characteristics":[{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"2a04","name":"Peripheral Preferred Connection Parameters","type":"org.bluetooth.characteristic.gap.peripheral_preferred_connection_parameters","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"03366e80cf3a11e19ab40002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"05366e80cf3a11e19ab40002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"07366e80cf3a11e19ab40002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"0c366e80cf3a11e19ab40002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true}]},{"id":"4f151b1d.148624","type":"mqtt-broker","z":"","name":"mqtt","broker":"10.69.0.234","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc080226.e7176","type":"function","z":"229f8fb.dfc257","name":"Write On","func":"const state = JSON.parse(msg.payload).state;\nmsg.payload =\n {\n \n \"0c366e80cf3a11e19ab40002a5d5c51b\": state\n }\n return msg;\n","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["e48326a.1a1a9d8","e9bbf746.120cd8"]]},{"id":"4dab531f.4c607c","type":"Generic BLE in","z":"229f8fb.dfc257","name":"Sensor","genericBle":"35ee131a.17aa8c","useString":false,"notification":true,"x":680,"y":540,"wires":[["a285f963.4428d8"]]},{"id":"98bb1875.8d59e8","type":"function","z":"229f8fb.dfc257","name":"Read state","func":"msg.topic = \"0c366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["4dab531f.4c607c"]]},{"id":"90a71fb7.52ee7","type":"mqtt in","z":"229f8fb.dfc257","name":"","topic":"/led/setState","qos":"2","broker":"4f151b1d.148624","x":250,"y":420,"wires":[["dc080226.e7176"]]},{"id":"d328ff14.5fef6","type":"mqtt in","z":"229f8fb.dfc257","name":"","topic":"/led/getState","qos":"2","broker":"4f151b1d.148624","x":250,"y":540,"wires":[["98bb1875.8d59e8"]]},{"id":"b1dd4b5b.ad9aa8","type":"inject","z":"e8df738f.e4e21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":320,"wires":[["8aa36bec.0e37b8"]]},{"id":"8aa36bec.0e37b8","type":"function","z":"e8df738f.e4e21","name":"Power off","func":"msg.payload = {\n    state: 0\n};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["aa21f940.9495c8"]]},{"id":"e48326a.1a1a9d8","type":"debug","z":"229f8fb.dfc257","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":440,"wires":[]},{"id":"e9bbf746.120cd8","type":"Generic BLE out","z":"229f8fb.dfc257","name":"Sensor","genericBle":"35ee131a.17aa8c","x":680,"y":380,"wires":[]},{"id":"39ac474f.bf4568","type":"inject","z":"e8df738f.e4e21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":240,"wires":[["3392e0fc.351a7"]]},{"id":"3392e0fc.351a7","type":"function","z":"e8df738f.e4e21","name":"Power on","func":"msg.payload = {\n    state: 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["aa21f940.9495c8"]]},{"id":"aa21f940.9495c8","type":"mqtt out","z":"e8df738f.e4e21","name":"","topic":"/led/setState","qos":"","retain":"","broker":"4f151b1d.148624","x":660,"y":260,"wires":[]},{"id":"f9e561c.f8af0a","type":"inject","z":"e8df738f.e4e21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":480,"wires":[["93de4b62.099b88"]]},{"id":"93de4b62.099b88","type":"function","z":"e8df738f.e4e21","name":"get state","func":"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["92e5de1d.b834e"]]},{"id":"92e5de1d.b834e","type":"mqtt out","z":"e8df738f.e4e21","name":"","topic":"/led/getState","qos":"","retain":"","broker":"4f151b1d.148624","x":690,"y":480,"wires":[]},{"id":"a285f963.4428d8","type":"function","z":"229f8fb.dfc257","name":"send state","func":"const state = msg.payload.characteristics[\"0c366e80cf3a11e19ab40002a5d5c51b\"][0];\nmsg.payload = {\n    state\n}\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":540,"wires":[["4f79016d.d3dce"]]},{"id":"4f79016d.d3dce","type":"mqtt out","z":"229f8fb.dfc257","name":"","topic":"/led/currentState","qos":"","retain":"","broker":"4f151b1d.148624","x":1130,"y":540,"wires":[]},{"id":"bdd706a8.65a578","type":"mqtt in","z":"e8df738f.e4e21","name":"","topic":"/led/currentState","qos":"2","broker":"4f151b1d.148624","x":310,"y":560,"wires":[["494d4dde.8e8b04"]]},{"id":"494d4dde.8e8b04","type":"debug","z":"e8df738f.e4e21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":560,"wires":[]},{"id":"ec0ab93f.157bc8","type":"Generic BLE in","z":"52c8cac.4abb434","name":"Sensor","genericBle":"35ee131a.17aa8c","useString":false,"notification":true,"x":620,"y":380,"wires":[["1343b173.bb055f"]]},{"id":"462e79c6.c67e08","type":"function","z":"52c8cac.4abb434","name":"Humidity","func":"msg.topic = \"07366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["ec0ab93f.157bc8"]]},{"id":"1343b173.bb055f","type":"function","z":"52c8cac.4abb434","name":"Send values","func":"const value = msg.payload.characteristics[\"07366e80cf3a11e19ab40002a5d5c51b\"];\nconst first = value[1].toString(16);\nconst second = value[0].toString(16);\n\nconst hexVal = \"0x\" + first + second;\n\nmsg.payload = {\n    value: parseInt(hexVal) / 10\n}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":380,"wires":[["f84fa75a.4c3b08"]]},{"id":"f84fa75a.4c3b08","type":"mqtt out","z":"52c8cac.4abb434","name":"","topic":"/hum","qos":"","retain":"","broker":"4f151b1d.148624","x":1040,"y":380,"wires":[]},{"id":"a9b2d285.d3af5","type":"inject","z":"52c8cac.4abb434","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":380,"wires":[["462e79c6.c67e08"]]},{"id":"b311437a.babd1","type":"Generic BLE in","z":"52c8cac.4abb434","name":"Sensor","genericBle":"35ee131a.17aa8c","useString":false,"notification":true,"x":620,"y":160,"wires":[["9c440d37.9c0d8"]]},{"id":"b4c96540.e5f208","type":"function","z":"52c8cac.4abb434","name":"Temperature","func":"msg.topic = \"05366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["b311437a.babd1"]]},{"id":"9c440d37.9c0d8","type":"function","z":"52c8cac.4abb434","name":"Send values","func":"const value = msg.payload.characteristics[\"05366e80cf3a11e19ab40002a5d5c51b\"];\n//const first = value[1].toString().length == 1 ? \"0\" + value[0] : value[0];\n//const second = value[0].toString().length == 1 ? \"0\" + value[1] : value[1];\nconst first = value[1].toString(16);\nconst second = value[0].toString(16);\nconst hexVal = \"0x\" + first + second;\n\nmsg.payload = {\n    value: parseInt(hexVal) / 10,\n    hexVal\n}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":160,"wires":[["8b4c0d47.f7969","8ff2885f.f7f458"]]},{"id":"8b4c0d47.f7969","type":"mqtt out","z":"52c8cac.4abb434","name":"","topic":"/temp","qos":"","retain":"","broker":"4f151b1d.148624","x":1040,"y":160,"wires":[]},{"id":"2b7d2679.bede2a","type":"inject","z":"52c8cac.4abb434","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["b4c96540.e5f208"]]},{"id":"b930303.77acfd","type":"function","z":"52c8cac.4abb434","name":"Send values","func":"const value = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"];\nmsg.payload = {\n    value: {\n        x: parseInt(\"0x\" + value[1].toString(16) + value[0].toString()),\n        y: parseInt(\"0x\" + value[3].toString(16) + value[2].toString()),\n        z: parseInt(\"0x\" + value[5].toString(16) + value[4].toString())\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":620,"wires":[["fdf75875.6d0248"]]},{"id":"4eb6e970.8582d8","type":"Generic BLE in","z":"52c8cac.4abb434","name":"Sensor","genericBle":"35ee131a.17aa8c","useString":false,"notification":true,"x":620,"y":620,"wires":[["b930303.77acfd"]]},{"id":"fdf75875.6d0248","type":"mqtt out","z":"52c8cac.4abb434","name":"","topic":"/acc","qos":"","retain":"","broker":"4f151b1d.148624","x":1040,"y":620,"wires":[]},{"id":"fe2b733.ddca59","type":"function","z":"52c8cac.4abb434","name":"Accelerometer","func":"msg.topic = \"03366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["4eb6e970.8582d8"]]},{"id":"10c452a4.f19cdd","type":"inject","z":"52c8cac.4abb434","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":620,"wires":[["fe2b733.ddca59"]]},{"id":"8ff2885f.f7f458","type":"debug","z":"52c8cac.4abb434","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":240,"wires":[]}]