Project/node-red/flows.json
[{
    "id": "229f8fb.dfc257",
    "type": "tab",
    "label": "Blink led",
    "disabled": false,
    "info": ""
}, {
    "id": "e8df738f.e4e21",
    "type": "tab",
    "label": "Test blink led",
    "disabled": false,
    "info": ""
}, {
    "id": "52c8cac.4abb434",
    "type": "tab",
    "label": "Sensor messages",
    "disabled": false,
    "info": ""
}, {
    "id": "4f2a6e06.c4d9f",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
}, {
    "id": "999dc55b.0ac9c8",
    "type": "tab",
    "label": "Alarms",
    "disabled": false,
    "info": ""
}, {
    "id": "35ee131a.17aa8c",
    "type": "Generic BLE",
    "z": "",
    "localName": "BlueNRG",
    "address": "02:80:e1:00:34:02",
    "uuid": "0280e1003402",
    "muteNotifyEvents": false,
    "operationTimeout": "",
    "characteristics": [{
        "uuid": "2a05",
        "name": "Service Changed",
        "type": "org.bluetooth.characteristic.gatt.service_changed",
        "notifiable": false,
        "readable": false,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "2a00",
        "name": "Device Name",
        "type": "org.bluetooth.characteristic.gap.device_name",
        "notifiable": false,
        "readable": true,
        "writable": true,
        "writeWithoutResponse": true
    }, {
        "uuid": "2a01",
        "name": "Appearance",
        "type": "org.bluetooth.characteristic.gap.appearance",
        "notifiable": false,
        "readable": true,
        "writable": true,
        "writeWithoutResponse": true
    }, {
        "uuid": "2a04",
        "name": "Peripheral Preferred Connection Parameters",
        "type": "org.bluetooth.characteristic.gap.peripheral_preferred_connection_parameters",
        "notifiable": false,
        "readable": true,
        "writable": true,
        "writeWithoutResponse": false
    }, {
        "uuid": "03366e80cf3a11e19ab40002a5d5c51b",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "12366e80cf3a11e19ab40002a5d5c51b",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": true,
        "readable": true,
        "writable": true,
        "writeWithoutResponse": true
    }, {
        "uuid": "05366e80cf3a11e19ab40002a5d5c51b",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "07366e80cf3a11e19ab40002a5d5c51b",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "0c366e80cf3a11e19ab40002a5d5c51b",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": false,
        "readable": true,
        "writable": true,
        "writeWithoutResponse": true
    }, {
        "uuid": "0e366e80cf3a11e19ab40002a5d5c51b",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": true,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }]
}, {
    "id": "4f151b1d.148624",
    "type": "mqtt-broker",
    "z": "",
    "name": "mqtt",
    "broker": "10.69.0.234",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
}, {
    "id": "fda592e.e03b17",
    "type": "Generic BLE",
    "z": "",
    "localName": "BCM43438A1\u0000",
    "address": "b8:27:eb:78:ee:e9",
    "uuid": "b827eb78eee9",
    "muteNotifyEvents": false,
    "operationTimeout": "",
    "characteristics": [{
        "uuid": "2a00",
        "name": "Device Name",
        "type": "org.bluetooth.characteristic.gap.device_name",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "2a01",
        "name": "Appearance",
        "type": "org.bluetooth.characteristic.gap.appearance",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "2a05",
        "name": "Service Changed",
        "type": "org.bluetooth.characteristic.gatt.service_changed",
        "notifiable": false,
        "readable": false,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "1234567812345678123456789abcdef5",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": false,
        "readable": true,
        "writable": true,
        "writeWithoutResponse": false
    }, {
        "uuid": "1234567812345678123456789abcdef1",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": false,
        "readable": true,
        "writable": true,
        "writeWithoutResponse": false
    }, {
        "uuid": "1234567812345678123456789abcdef3",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": false,
        "readable": true,
        "writable": true,
        "writeWithoutResponse": false
    }]
}, {
    "id": "98ee61cf.91487",
    "type": "websocket-listener",
    "z": "",
    "path": "/alarm/setState",
    "wholemsg": "false"
}, {
    "id": "e758422.d6e674",
    "type": "Generic BLE",
    "z": "",
    "localName": "BlueNRG",
    "address": "02:80:e1:00:34:f1",
    "uuid": "0280e10034f1",
    "muteNotifyEvents": false,
    "operationTimeout": "",
    "characteristics": [{
        "uuid": "2a00",
        "name": "Device Name",
        "type": "org.bluetooth.characteristic.gap.device_name",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "2a01",
        "name": "Appearance",
        "type": "org.bluetooth.characteristic.gap.appearance",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "2a05",
        "name": "Service Changed",
        "type": "org.bluetooth.characteristic.gatt.service_changed",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "2a29",
        "name": "Manufacturer Name String",
        "type": "org.bluetooth.characteristic.manufacturer_name_string",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "2a24",
        "name": "Model Number String",
        "type": "org.bluetooth.characteristic.model_number_string",
        "notifiable": false,
        "readable": true,
        "writable": false,
        "writeWithoutResponse": false
    }, {
        "uuid": "8667556c9a374c9184ed54ee27d90049",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": true,
        "readable": false,
        "writable": true,
        "writeWithoutResponse": false
    }, {
        "uuid": "af0badb15b9943cd917aa77bc549e3cc",
        "name": "<Unnamed>",
        "type": "(Custom Type)",
        "notifiable": true,
        "readable": false,
        "writable": true,
        "writeWithoutResponse": false
    }]
}, {
    "id": "10cd73b1.f3849c",
    "type": "websocket-listener",
    "z": "",
    "path": "/heartbeat",
    "wholemsg": "false"
}, {
    "id": "b1dd4b5b.ad9aa8",
    "type": "inject",
    "z": "e8df738f.e4e21",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 320,
    "y": 360,
    "wires": [
        ["8aa36bec.0e37b8"]
    ]
}, {
    "id": "8aa36bec.0e37b8",
    "type": "function",
    "z": "e8df738f.e4e21",
    "name": "Power off",
    "func": "msg.payload = {\n    status: 0\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 360,
    "wires": [
        ["aa21f940.9495c8"]
    ]
}, {
    "id": "39ac474f.bf4568",
    "type": "inject",
    "z": "e8df738f.e4e21",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 320,
    "y": 280,
    "wires": [
        ["3392e0fc.351a7"]
    ]
}, {
    "id": "3392e0fc.351a7",
    "type": "function",
    "z": "e8df738f.e4e21",
    "name": "Power on",
    "func": "msg.payload = {\n    status: 1\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 280,
    "wires": [
        ["aa21f940.9495c8"]
    ]
}, {
    "id": "aa21f940.9495c8",
    "type": "mqtt out",
    "z": "e8df738f.e4e21",
    "name": "",
    "topic": "/led/setState",
    "qos": "",
    "retain": "",
    "broker": "4f151b1d.148624",
    "x": 720,
    "y": 300,
    "wires": []
}, {
    "id": "f9e561c.f8af0a",
    "type": "inject",
    "z": "e8df738f.e4e21",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 280,
    "y": 560,
    "wires": [
        ["93de4b62.099b88"]
    ]
}, {
    "id": "93de4b62.099b88",
    "type": "function",
    "z": "e8df738f.e4e21",
    "name": "get state",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 560,
    "wires": [
        ["92e5de1d.b834e"]
    ]
}, {
    "id": "92e5de1d.b834e",
    "type": "mqtt out",
    "z": "e8df738f.e4e21",
    "name": "",
    "topic": "/led/getState",
    "qos": "",
    "retain": "",
    "broker": "4f151b1d.148624",
    "x": 670,
    "y": 560,
    "wires": []
}, {
    "id": "bdd706a8.65a578",
    "type": "mqtt in",
    "z": "e8df738f.e4e21",
    "name": "",
    "topic": "/led/currentState",
    "qos": "2",
    "broker": "4f151b1d.148624",
    "x": 290,
    "y": 640,
    "wires": [
        ["494d4dde.8e8b04"]
    ]
}, {
    "id": "494d4dde.8e8b04",
    "type": "debug",
    "z": "e8df738f.e4e21",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 510,
    "y": 640,
    "wires": []
}, {
    "id": "b930303.77acfd",
    "type": "function",
    "z": "52c8cac.4abb434",
    "name": "Send values",
    "func": "var x1 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][1] * 255;\nvar y1 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"3\"] * 255;\nvar z1 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"5\"] * 255;\n\nvar x2 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"0\"];\nvar y2 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"2\"];\nvar z2 = msg.payload.characteristics[\"03366e80cf3a11e19ab40002a5d5c51b\"][\"4\"];\n\nvar aX = (x1 + x2);\nvar aY = (y1 + y2);\nvar aZ = (z1 + z2);\n\nif (aX > 0x7ff){\n    aX = aX - 65535;\n} \n\nif (aY > 0x7ff){\n    aY = aY - 65535;\n}\n\nif (aZ > 0x7ff){\n    aZ = aZ - 65535;\n}\nmsg.payload.value = {x: aX / 100, y: aY / 100, z : aZ / 100};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 140,
    "wires": [
        ["fdf75875.6d0248", "a422ad68.d4e28"]
    ]
}, {
    "id": "fdf75875.6d0248",
    "type": "mqtt out",
    "z": "52c8cac.4abb434",
    "name": "",
    "topic": "/acc",
    "qos": "",
    "retain": "",
    "broker": "4f151b1d.148624",
    "x": 1060,
    "y": 140,
    "wires": []
}, {
    "id": "fe2b733.ddca59",
    "type": "function",
    "z": "52c8cac.4abb434",
    "name": "Accelerometer",
    "func": "msg.topic = \"03366e80cf3a11e19ab40002a5d5c51b\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 140,
    "wires": [
        ["58bc4ca5.80a414", "d721cb7e.a3a13"]
    ]
}, {
    "id": "10c452a4.f19cdd",
    "type": "inject",
    "z": "52c8cac.4abb434",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 230,
    "y": 140,
    "wires": [
        ["fe2b733.ddca59"]
    ]
}, {
    "id": "413cb9bb.62d768",
    "type": "mqtt in",
    "z": "4f2a6e06.c4d9f",
    "name": "",
    "topic": "/led/setState",
    "qos": "2",
    "broker": "4f151b1d.148624",
    "x": 330,
    "y": 300,
    "wires": [
        ["d10abb3f.9bcdf8", "a22e8bb7.e11fe8"]
    ]
}, {
    "id": "d10abb3f.9bcdf8",
    "type": "function",
    "z": "4f2a6e06.c4d9f",
    "name": "",
    "func": "const payload = JSON.parse(msg.payload);\nconst status = payload.status;\nconst byteArray = [];\nbyteArray[0] = status;\n\nfor(var i = 0; i < payload.uuid.length; i++){\n        byteArray[i+1] = payload.uuid.charCodeAt(i);\n}\n\nmsg.payload =\n {\n    \"1234567812345678123456789abcdef1\": byteArray\n }\n return msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 300,
    "wires": [
        ["80181611.93bda8", "a22e8bb7.e11fe8"]
    ]
}, {
    "id": "909b9c3c.8c007",
    "type": "function",
    "z": "229f8fb.dfc257",
    "name": "Write On",
    "func": "const payload = JSON.parse(msg.payload);\nmsg.payload =\n {\n    uuid: payload.uuid,\n    \"0c366e80cf3a11e19ab40002a5d5c51b\": payload.status ? 1 : 0\n }\n return msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 200,
    "wires": [
        ["81af5371.a61be"]
    ]
}, {
    "id": "eb32826a.56b3a",
    "type": "mqtt in",
    "z": "229f8fb.dfc257",
    "name": "",
    "topic": "/led/setState",
    "qos": "2",
    "broker": "4f151b1d.148624",
    "x": 250,
    "y": 200,
    "wires": [
        ["909b9c3c.8c007"]
    ]
}, {
    "id": "58bc4ca5.80a414",
    "type": "Generic BLE in",
    "z": "52c8cac.4abb434",
    "name": "",
    "genericBle": "35ee131a.17aa8c",
    "useString": false,
    "notification": false,
    "x": 630,
    "y": 140,
    "wires": [
        ["b930303.77acfd"]
    ]
}, {
    "id": "17391e.12ae26e3",
    "type": "Generic BLE out",
    "z": "229f8fb.dfc257",
    "name": "",
    "genericBle": "35ee131a.17aa8c",
    "x": 830,
    "y": 120,
    "wires": []
}, {
    "id": "80181611.93bda8",
    "type": "Generic BLE out",
    "z": "4f2a6e06.c4d9f",
    "name": "alphabot",
    "genericBle": "fda592e.e03b17",
    "x": 800,
    "y": 300,
    "wires": []
}, {
    "id": "a22e8bb7.e11fe8",
    "type": "debug",
    "z": "4f2a6e06.c4d9f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 760,
    "y": 380,
    "wires": []
}, {
    "id": "779c80fd.9c955",
    "type": "inject",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "x": 250,
    "y": 260,
    "wires": [
        ["82b165ef.896bf8"]
    ]
}, {
    "id": "82b165ef.896bf8",
    "type": "function",
    "z": "999dc55b.0ac9c8",
    "name": "Read state",
    "func": "msg = {\n    \n    payload: {\n        topic: \"0e366e80cf3a11e19ab40002a5d5c51b\",\n        notify: true\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 260,
    "wires": [
        ["841dcb88.edcef8", "1574e625.db20ca"]
    ]
}, {
    "id": "d8bb4c5b.54eca",
    "type": "function",
    "z": "999dc55b.0ac9c8",
    "name": "send state",
    "func": "const status = msg.payload.characteristics[\"0e366e80cf3a11e19ab40002a5d5c51b\"][0];\nmsg.payload = {\n    uuid: msg.payload.uuid,\n    status\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 870,
    "y": 260,
    "wires": [
        ["989e5185.900bb", "903ad519.e24808", "df43e6ab.7ea068"]
    ]
}, {
    "id": "989e5185.900bb",
    "type": "mqtt out",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "topic": "/led/setState",
    "qos": "",
    "retain": "",
    "broker": "4f151b1d.148624",
    "x": 1110,
    "y": 480,
    "wires": []
}, {
    "id": "841dcb88.edcef8",
    "type": "Generic BLE in",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "genericBle": "35ee131a.17aa8c",
    "useString": false,
    "notification": true,
    "x": 650,
    "y": 260,
    "wires": [
        ["d8bb4c5b.54eca"]
    ]
}, {
    "id": "903ad519.e24808",
    "type": "websocket out",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "server": "98ee61cf.91487",
    "client": "",
    "x": 1130,
    "y": 380,
    "wires": []
}, {
    "id": "a422ad68.d4e28",
    "type": "debug",
    "z": "52c8cac.4abb434",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 1060,
    "y": 240,
    "wires": []
}, {
    "id": "d721cb7e.a3a13",
    "type": "Generic BLE in",
    "z": "52c8cac.4abb434",
    "name": "",
    "genericBle": "e758422.d6e674",
    "useString": false,
    "notification": false,
    "x": 630,
    "y": 240,
    "wires": [
        ["b930303.77acfd"]
    ]
}, {
    "id": "1574e625.db20ca",
    "type": "Generic BLE in",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "genericBle": "e758422.d6e674",
    "useString": false,
    "notification": true,
    "x": 650,
    "y": 300,
    "wires": [
        ["d8bb4c5b.54eca"]
    ]
}, {
    "id": "81af5371.a61be",
    "type": "switch",
    "z": "229f8fb.dfc257",
    "name": "",
    "property": "payload.uuid",
    "propertyType": "msg",
    "rules": [{
        "t": "eq",
        "v": "0280e1003402",
        "vt": "str"
    }, {
        "t": "eq",
        "v": "0280e10034f1",
        "vt": "str"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 600,
    "y": 160,
    "wires": [
        ["17391e.12ae26e3"],
        ["8a1f452c.796da8"]
    ]
}, {
    "id": "8a1f452c.796da8",
    "type": "Generic BLE out",
    "z": "229f8fb.dfc257",
    "name": "",
    "genericBle": "e758422.d6e674",
    "x": 830,
    "y": 180,
    "wires": []
}, {
    "id": "df43e6ab.7ea068",
    "type": "debug",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1100,
    "y": 160,
    "wires": []
}, {
    "id": "f7acd734.e04188",
    "type": "function",
    "z": "52c8cac.4abb434",
    "name": "Send values",
    "func": "const value = msg.payload.characteristics[\"12366e80cf3a11e19ab40002a5d5c51b\"];\n\nfunction hexToDec(a) {\n    a = parseInt(a, 16);\n    if ((a & 0x8000) > 0) {\n       a = a - 0x10000\n    }\n    \n    return a;\n}\n\nmsg.payload = {\n    uuid: msg.payload.uuid,\n    value: hexToDec(value[0].toString(16))\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 400,
    "wires": [
        ["79f6c6ee.0eb048"]
    ]
}, {
    "id": "79f6c6ee.0eb048",
    "type": "mqtt out",
    "z": "52c8cac.4abb434",
    "name": "",
    "topic": "/heartbeat",
    "qos": "",
    "retain": "",
    "broker": "4f151b1d.148624",
    "x": 1050,
    "y": 400,
    "wires": []
}, {
    "id": "8b4f900a.a03e3",
    "type": "function",
    "z": "52c8cac.4abb434",
    "name": "Heartbeat",
    "func": "// msg.payload = {\n//     topic: \"12366e80cf3a11e19ab40002a5d5c51b\",\n//     notify: true\n// }\nmsg.topic = \"12366e80cf3a11e19ab40002a5d5c51b\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 400,
    "wires": [
        ["4f8260e3.40fff", "2053e317.0232fc"]
    ]
}, {
    "id": "b585ae8e.c37c7",
    "type": "inject",
    "z": "52c8cac.4abb434",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "x": 210,
    "y": 400,
    "wires": [
        ["8b4f900a.a03e3"]
    ]
}, {
    "id": "4f8260e3.40fff",
    "type": "Generic BLE in",
    "z": "52c8cac.4abb434",
    "name": "",
    "genericBle": "35ee131a.17aa8c",
    "useString": false,
    "notification": false,
    "x": 610,
    "y": 400,
    "wires": [
        ["f7acd734.e04188", "601aa566.6afa1c"]
    ]
}, {
    "id": "ccc4e06d.b9e14",
    "type": "debug",
    "z": "52c8cac.4abb434",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 830,
    "y": 540,
    "wires": []
}, {
    "id": "258bffe5.0058b",
    "type": "inject",
    "z": "e8df738f.e4e21",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 320,
    "y": 120,
    "wires": [
        ["26a3939c.e680bc"]
    ]
}, {
    "id": "26a3939c.e680bc",
    "type": "function",
    "z": "e8df738f.e4e21",
    "name": "Power on",
    "func": "msg.payload = {\n    \"12366e80cf3a11e19ab40002a5d5c51b\": 60\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 120,
    "wires": [
        ["c235fb7.359b208"]
    ]
}, {
    "id": "c235fb7.359b208",
    "type": "Generic BLE out",
    "z": "e8df738f.e4e21",
    "name": "",
    "genericBle": "e758422.d6e674",
    "x": 710,
    "y": 120,
    "wires": []
}, {
    "id": "279bfc0d.63d3b4",
    "type": "mqtt in",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "topic": "/heartbeat",
    "qos": "2",
    "broker": "4f151b1d.148624",
    "x": 120,
    "y": 440,
    "wires": [
        ["1270b65d.b1a26a"]
    ]
}, {
    "id": "5e32b462.5f8afc",
    "type": "websocket out",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "server": "10cd73b1.f3849c",
    "client": "",
    "x": 520,
    "y": 480,
    "wires": []
}, {
    "id": "7caea27b.d6269c",
    "type": "switch",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "property": "payload.value",
    "propertyType": "msg",
    "rules": [{
        "t": "jsonata_exp",
        "v": "payload.value > 120 or payload.value < 20",
        "vt": "jsonata"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 530,
    "y": 420,
    "wires": [
        ["91e53fb0.5a667"]
    ]
}, {
    "id": "91e53fb0.5a667",
    "type": "function",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "func": "msg.payload = {\n    uuid: msg.payload.uuid,\n    status: 1\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 730,
    "y": 420,
    "wires": [
        ["989e5185.900bb", "903ad519.e24808"]
    ]
}, {
    "id": "1270b65d.b1a26a",
    "type": "function",
    "z": "999dc55b.0ac9c8",
    "name": "Parse",
    "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 310,
    "y": 440,
    "wires": [
        ["7caea27b.d6269c", "5e32b462.5f8afc"]
    ]
}, {
    "id": "2053e317.0232fc",
    "type": "Generic BLE in",
    "z": "52c8cac.4abb434",
    "name": "",
    "genericBle": "e758422.d6e674",
    "useString": false,
    "notification": true,
    "x": 610,
    "y": 480,
    "wires": [
        ["f7acd734.e04188", "ccc4e06d.b9e14"]
    ]
}, {
    "id": "41a10e6d.7834e",
    "type": "mqtt in",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "topic": "/acc",
    "qos": "2",
    "broker": "4f151b1d.148624",
    "x": 130,
    "y": 600,
    "wires": [
        ["98cf3faa.8d4ec"]
    ]
}, {
    "id": "832cdc9.9af062",
    "type": "switch",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "property": "payload.value",
    "propertyType": "msg",
    "rules": [{
        "t": "jsonata_exp",
        "v": "payload.value.x >= 17 or payload.value.x <= -17 or\tpayload.value.y >= 17 or payload.value.y <= -17 or\tpayload.value.z >= 17 or payload.value.z <= -17",
        "vt": "jsonata"
    }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 550,
    "y": 580,
    "wires": [
        ["91e53fb0.5a667"]
    ]
}, {
    "id": "98cf3faa.8d4ec",
    "type": "function",
    "z": "999dc55b.0ac9c8",
    "name": "Parse",
    "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 290,
    "y": 600,
    "wires": [
        ["832cdc9.9af062"]
    ]
}, {
    "id": "d877202a.5405c",
    "type": "websocket in",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "server": "98ee61cf.91487",
    "client": "",
    "x": 830,
    "y": 560,
    "wires": [
        ["989e5185.900bb"]
    ]
}, {
    "id": "601aa566.6afa1c",
    "type": "debug",
    "z": "52c8cac.4abb434",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 850,
    "y": 460,
    "wires": []
}, {
    "id": "91bef6ff.6752b8",
    "type": "inject",
    "z": "999dc55b.0ac9c8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 840,
    "y": 680,
    "wires": [
        ["5cb8e7c9.fefa68"]
    ]
}, {
    "id": "5cb8e7c9.fefa68",
    "type": "function",
    "z": "999dc55b.0ac9c8",
    "name": "send state",
    "func": "\nmsg.payload = {\n    uuid: \"0280e1003402\",\n    status: 2\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1010,
    "y": 660,
    "wires": [
        ["989e5185.900bb"]
    ]
}]