Labs/Lab03/nodes/flows.json
[{"id":"bb333ec7.a7528","type":"tab","label":"storage","disabled":false,"info":""},{"id":"7204ad03.6f1a0c","type":"tab","label":"socket","disabled":false,"info":""},{"id":"8ffdb5a4.533328","type":"mongodb","z":"","hostname":"192.168.150.128","port":"27017","db":"Sensors","name":"mongo"},{"id":"2e0a4732.a364b8","type":"websocket-client","z":"","path":"/acc","tls":"","wholemsg":"false"},{"id":"3c271f78.5d9f5","type":"mqtt-broker","z":"","name":"","broker":"10.69.0.234","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1cabd5b.32d8b","type":"websocket-listener","z":"","path":"/ledstatus","wholemsg":"false"},{"id":"eca00268.68b52","type":"websocket-client","z":"","path":"/temp","tls":"","wholemsg":"false"},{"id":"af844d91.5aaca","type":"websocket-client","z":"","path":"/humidity","tls":"","wholemsg":"false"},{"id":"edc73272.6b328","type":"mongodb out","z":"bb333ec7.a7528","mongodb":"8ffdb5a4.533328","name":"","collection":"temp","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":890,"y":300,"wires":[]},{"id":"73782459.3d064c","type":"function","z":"bb333ec7.a7528","name":"","func":"var date = new Date();\nvar value = JSON.parse(msg.payload).value;\nmsg.payload = {temp: value, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["edc73272.6b328","43f6e26a.8dbe3c"]]},{"id":"43f6e26a.8dbe3c","type":"websocket out","z":"bb333ec7.a7528","name":"","server":"","client":"eca00268.68b52","x":900,"y":240,"wires":[]},{"id":"76368b29.c3d944","type":"mqtt in","z":"bb333ec7.a7528","name":"","topic":"/temp","qos":"2","broker":"3c271f78.5d9f5","x":310,"y":300,"wires":[["73782459.3d064c"]]},{"id":"54bf2e30.73aef8","type":"mongodb out","z":"bb333ec7.a7528","mongodb":"8ffdb5a4.533328","name":"","collection":"hum","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":890,"y":480,"wires":[]},{"id":"c08687af.086d8","type":"function","z":"bb333ec7.a7528","name":"","func":"var date = new Date();\nvar value = JSON.parse(msg.payload).value;\nmsg.payload = {hum: value, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["54bf2e30.73aef8","540a772e.cb63"]]},{"id":"540a772e.cb63","type":"websocket out","z":"bb333ec7.a7528","name":"","server":"","client":"af844d91.5aaca","x":900,"y":420,"wires":[]},{"id":"1b198d66.ef941b","type":"mqtt in","z":"bb333ec7.a7528","name":"","topic":"/hum","qos":"2","broker":"3c271f78.5d9f5","x":310,"y":480,"wires":[["c08687af.086d8"]]},{"id":"7fe19d44.59f3cc","type":"mongodb out","z":"bb333ec7.a7528","mongodb":"8ffdb5a4.533328","name":"","collection":"acc","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":890,"y":640,"wires":[]},{"id":"b0eb47e4.f6a73","type":"function","z":"bb333ec7.a7528","name":"","func":"var date = new Date();\nvar value = JSON.parse(msg.payload).value;\nmsg.payload = {acc: value, date: date.toISOString()};\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":640,"wires":[["7fe19d44.59f3cc","4ebfb29c.8abdb4"]]},{"id":"d263b766.e49828","type":"mqtt in","z":"bb333ec7.a7528","name":"","topic":"/acc","qos":"2","broker":"3c271f78.5d9f5","x":310,"y":640,"wires":[["b0eb47e4.f6a73"]]},{"id":"fba903a0.02e4c8","type":"http in","z":"7204ad03.6f1a0c","name":"","url":"/temp","method":"get","upload":false,"swaggerDoc":"","x":130,"y":300,"wires":[["edd43acf.23b1c8"]]},{"id":"edd43acf.23b1c8","type":"function","z":"7204ad03.6f1a0c","name":"buildQuery","func":"msg.payload = {\n    date: {\n        $gt: new Date(new Date() - 5 * 60 * 1000).toISOString()\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["b0452071.b537a"]]},{"id":"2022f8b.a549988","type":"function","z":"7204ad03.6f1a0c","name":"CORS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["ade46e8d.d1ddf8"]]},{"id":"b0452071.b537a","type":"mongodb in","z":"7204ad03.6f1a0c","mongodb":"8ffdb5a4.533328","name":"find temp","collection":"temp","operation":"find","x":480,"y":300,"wires":[["2022f8b.a549988"]]},{"id":"ade46e8d.d1ddf8","type":"http response","z":"7204ad03.6f1a0c","name":"","statusCode":"200","headers":{},"x":800,"y":300,"wires":[]},{"id":"7b165c68.07d21c","type":"http in","z":"7204ad03.6f1a0c","name":"","url":"/humidity","method":"get","upload":false,"swaggerDoc":"","x":130,"y":420,"wires":[["f4fca111.c32bc"]]},{"id":"f4fca111.c32bc","type":"function","z":"7204ad03.6f1a0c","name":"buildQuery","func":"msg.payload = {\n    date: {\n        $gt: new Date(new Date() - 5 * 60 * 1000).toISOString()\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["b53de2f9.56a0d8"]]},{"id":"2544a6b4.f587aa","type":"function","z":"7204ad03.6f1a0c","name":"CORS","func":"msg.headers = {};\nmsg.headers[\"Access-Control-Allow-Origin\"]= \"*\";\nmsg.headers[\"Access-Control-Allow-Methods\"]= \"POST, GET, OPTIONS\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":420,"wires":[["e6f81669.3d6358"]]},{"id":"b53de2f9.56a0d8","type":"mongodb in","z":"7204ad03.6f1a0c","mongodb":"8ffdb5a4.533328","name":"find hum","collection":"hum","operation":"find","x":490,"y":420,"wires":[["2544a6b4.f587aa"]]},{"id":"e6f81669.3d6358","type":"http response","z":"7204ad03.6f1a0c","name":"","statusCode":"200","headers":{},"x":810,"y":420,"wires":[]},{"id":"c0543773.8314d","type":"mqtt out","z":"7204ad03.6f1a0c","name":"","topic":"/led/setState","qos":"","retain":"","broker":"3c271f78.5d9f5","x":670,"y":580,"wires":[]},{"id":"595f5865.6de1b8","type":"websocket in","z":"7204ad03.6f1a0c","name":"","server":"a1cabd5b.32d8b","client":"","x":70,"y":560,"wires":[["ba38666b.44a1b8"]]},{"id":"69832b83.b69814","type":"mqtt in","z":"7204ad03.6f1a0c","name":"","topic":"/led/currentState","qos":"2","broker":"3c271f78.5d9f5","x":200,"y":700,"wires":[["83e06c95.ea668"]]},{"id":"83e06c95.ea668","type":"websocket out","z":"7204ad03.6f1a0c","name":"","server":"a1cabd5b.32d8b","client":"","x":500,"y":700,"wires":[]},{"id":"6b13505a.2b7ff","type":"switch","z":"7204ad03.6f1a0c","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"getState","vt":"str"},{"t":"eq","v":"setState","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":560,"wires":[["110c086.0b0ccf8"],["c0543773.8314d"]]},{"id":"110c086.0b0ccf8","type":"mqtt out","z":"7204ad03.6f1a0c","name":"","topic":"/led/getState","qos":"","retain":"","broker":"3c271f78.5d9f5","x":650,"y":520,"wires":[]},{"id":"4ebfb29c.8abdb4","type":"websocket out","z":"bb333ec7.a7528","name":"","server":"","client":"2e0a4732.a364b8","x":880,"y":580,"wires":[]},{"id":"ba38666b.44a1b8","type":"function","z":"7204ad03.6f1a0c","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":560,"wires":[["6b13505a.2b7ff"]]}]